@import "tailwindcss";

@theme {
  --color-background: #0d0d14;
  --color-foregorund: #1b1a1f;
  --color-textPrimary: #fff;
  --color-outline: #39393f;
  --font-noto-jp: var(--font-noto-jp);
  --font-poppins: var(--font-poppins);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="ocean"] {
  --color-background: #0f172a;
  --color-foreground: #38bdf8;
}

@utility nav-pill {
  @apply bg-white/20 backdrop-blur-lg border border-white/20;
}

@utility highlight {
  @apply bg-white/20 backdrop-blur-lg border-white/20;
}
